In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/Toomas/Desktop/Data for playing/2020_dataset.csv")

In [4]:
# check the first 5 rows

df.head()

,survey_year,respondent_id,gender,age,age_group,ethnicity_estonian_nonestonian,marital_status,education,income_per_household_member,household_economic_comfort,...,walk_cycle_daily_amount_for work,walk_cycle_daily_amount_for_leisure_working_days,walk_cycle_daily_amount_non_working_days,exercising_frequency,work_physical_effort_level,physical_fitness_assessment,physically_active_daily_total,physically_active_daily_group,electronic_media_consumption_daily_amount_for_leisure_workdays,electronic_media_consumption_daily_amount_free_days
0,2020,1,1,19,1,1,2.0,4.0,3.0,2.0,...,3.0,4.0,4.0,3.0,1.0,3.0,4.0,3,2.0,3.0
1,2020,2,1,19,1,1,1.0,2.0,2.0,2.0,...,4.0,4.0,4.0,1.0,2.0,2.0,3.0,2,4.0,3.0
2,2020,3,1,19,1,1,1.0,2.0,5.0,2.0,...,2.0,NaN,3.0,5.0,1.0,3.0,0.7,1,4.0,4.0
3,2020,5,1,19,1,1,1.0,2.0,8.0,1.0,...,4.0,4.0,4.0,1.0,1.0,2.0,6.0,4,5.0,5.0
4,2020,6,1,19,1,1,2.0,4.0,4.0,3.0,...,2.0,2.0,1.0,1.0,2.0,2.0,1.8,1,3.0,3.0

In [5]:
# check the last 5 rows

df.tail()

,survey_year,respondent_id,gender,age,age_group,ethnicity_estonian_nonestonian,marital_status,education,income_per_household_member,household_economic_comfort,...,walk_cycle_daily_amount_for work,walk_cycle_daily_amount_for_leisure_working_days,walk_cycle_daily_amount_non_working_days,exercising_frequency,work_physical_effort_level,physical_fitness_assessment,physically_active_daily_total,physically_active_daily_group,electronic_media_consumption_daily_amount_for_leisure_workdays,electronic_media_consumption_daily_amount_free_days
2165,2020,2319,2,60,5,2,2.0,4.0,2.0,2.0,...,4.0,4.0,4.0,6.0,2.0,3.0,8.0,5,3.0,4.0
2166,2020,2320,2,60,5,1,3.0,7.0,7.0,1.0,...,3.0,3.0,2.0,5.0,1.0,3.0,1.0,1,NaN,3.0
2167,2020,2321,2,60,5,1,2.0,5.0,3.0,3.0,...,NaN,4.0,NaN,1.0,1.0,3.0,2.5,2,2.0,3.0
2168,2020,2322,2,60,5,1,3.0,8.0,4.0,2.0,...,4.0,4.0,4.0,3.0,1.0,3.0,1.0,1,2.0,3.0
2169,2020,6040,2,60,5,2,2.0,5.0,2.0,2.0,...,5.0,4.0,4.0,7.0,2.0,3.0,7.0,4,3.0,4.0

In [6]:
# check the dimensions of the dataframe

df.shape

(2170, 41)

In [7]:
# check the datatypes of the variables

df.dtypes

survey_year                                                         int64
respondent_id                                                       int64
gender                                                              int64
age                                                                 int64
age_group                                                           int64
ethnicity_estonian_nonestonian                                      int64
marital_status                                                    float64
education                                                         float64
income_per_household_member                                       float64
household_economic_comfort                                        float64
employment_status                                                 float64
occupation_revised                                                float64
health_assessment                                                 float64
chronic_disease                                                   float64
health_problem_limited_daily_activies                             float64
health_problem_limited_mobility                                   float64
overtiredness                                                     float64
smoking_history                                                   float64
smoking_three_groups                                                int64
smoking_two_groups                                                  int64
alcohol_general_consumption_frequency                             float64
alcohol_standard_units_consumption_frequency                      float64
special_diet_for_weightloss                                       float64
special_diet_for_sports                                           float64
habit_change_diet_for_weightloss                                  float64
habit_change_more_physically_active                               float64
bmi                                                               float64
bmi_four_groups                                                     int64
bmi_three_groups                                                    int64
bmi_two_groups_split25                                              int64
bmi_two_groups_split30                                              int64
walk_cycle_daily_amount_for work                                  float64
walk_cycle_daily_amount_for_leisure_working_days                  float64
walk_cycle_daily_amount_non_working_days                          float64
exercising_frequency                                              float64
work_physical_effort_level                                        float64
physical_fitness_assessment                                       float64
physically_active_daily_total                                     float64
physically_active_daily_group                                       int64
electronic_media_consumption_daily_amount_for_leisure_workdays    float64
electronic_media_consumption_daily_amount_free_days               float64
dtype: object

In [8]:
# check the range of the rown indeces
df.index

RangeIndex(start=0, stop=2170, step=1)

In [9]:
# check the names of the columns
df.columns

Index(['survey_year', 'respondent_id', 'gender', 'age', 'age_group',
       'ethnicity_estonian_nonestonian', 'marital_status', 'education',
       'income_per_household_member', 'household_economic_comfort',
       'employment_status', 'occupation_revised', 'health_assessment',
       'chronic_disease', 'health_problem_limited_daily_activies',
       'health_problem_limited_mobility', 'overtiredness', 'smoking_history',
       'smoking_three_groups', 'smoking_two_groups',
       'alcohol_general_consumption_frequency',
       'alcohol_standard_units_consumption_frequency',
       'special_diet_for_weightloss', 'special_diet_for_sports',
       'habit_change_diet_for_weightloss',
       'habit_change_more_physically_active', 'bmi', 'bmi_four_groups',
       'bmi_three_groups', 'bmi_two_groups_split25', 'bmi_two_groups_split30',
       'walk_cycle_daily_amount_for work',
       'walk_cycle_daily_amount_for_leisure_working_days',
       'walk_cycle_daily_amount_non_working_days', 'exercising_frequency',
       'work_physical_effort_level', 'physical_fitness_assessment',
       'physically_active_daily_total', 'physically_active_daily_group',
       'electronic_media_consumption_daily_amount_for_leisure_workdays',
       'electronic_media_consumption_daily_amount_free_days'],
      dtype='object')

In [10]:
# show count, mean, std, min, etc for each variable
# some stat nonsensical for variables that are ordinal or nominal
df.describe()

,survey_year,respondent_id,gender,age,age_group,ethnicity_estonian_nonestonian,marital_status,education,income_per_household_member,household_economic_comfort,...,walk_cycle_daily_amount_for work,walk_cycle_daily_amount_for_leisure_working_days,walk_cycle_daily_amount_non_working_days,exercising_frequency,work_physical_effort_level,physical_fitness_assessment,physically_active_daily_total,physically_active_daily_group,electronic_media_consumption_daily_amount_for_leisure_workdays,electronic_media_consumption_daily_amount_free_days
count,2170.0,2170.000000,2170.000000,2170.000000,2170.000000,2170.000000,2159.000000,2162.000000,2134.000000,2162.000000,...,2017.000000,1885.000000,1967.000000,2132.000000,2088.000000,2153.000000,2170.000000,2170.000000,2111.000000,2099.000000
mean,2020.0,1173.372350,1.597235,42.245161,3.258065,1.266359,1.925892,5.239593,4.331303,2.066142,...,2.800694,2.833952,3.274021,4.143996,1.942050,2.764050,5.136590,3.130415,3.145902,3.431634
std,0.0,681.019542,0.490567,13.572672,1.344950,0.442156,0.644411,1.852233,2.190074,0.765868,...,1.459758,0.989066,0.862141,1.789850,0.981376,0.823148,4.288909,1.863494,0.874890,0.873544
min,2020.0,1.000000,1.000000,16.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,2020.0,582.250000,1.000000,31.000000,2.000000,1.000000,2.000000,4.000000,2.000000,2.000000,...,1.000000,2.000000,3.000000,3.000000,1.000000,2.000000,1.500000,1.000000,3.000000,3.000000
50%,2020.0,1177.500000,2.000000,43.000000,3.000000,1.000000,2.000000,5.000000,4.000000,2.000000,...,3.000000,3.000000,3.000000,4.000000,2.000000,3.000000,4.000000,3.000000,3.000000,3.000000
75%,2020.0,1757.750000,2.000000,54.000000,4.000000,2.000000,2.000000,7.000000,6.000000,2.000000,...,4.000000,4.000000,4.000000,6.000000,3.000000,3.000000,8.000000,5.000000,4.000000,4.000000
max,2020.0,6040.000000,2.000000,64.000000,5.000000,2.000000,4.000000,8.000000,8.000000,4.000000,...,5.000000,4.000000,4.000000,7.000000,4.000000,5.000000,24.000000,6.000000,5.000000,5.000000

In [15]:
# makes more sense to calculate this for age and BMI only
df.loc[:,['age', 'bmi']].describe()

               age          bmi
count  2170.000000  2170.000000
mean     42.245161    26.125853
std      13.572672     5.601251
min      16.000000    13.600000
25%      31.000000    22.200000
50%      43.000000    25.100000
75%      54.000000    28.900000
max      64.000000    70.600000

In [16]:
#subset of the dataframe (only bmi variable)
df['bmi']

0       23.7
1       23.4
2       20.8
3       22.1
4       22.2
        ...
2165    22.3
2166    34.5
2167    24.4
2168    24.9
2169    35.2
Name: bmi, Length: 2170, dtype: float64

In [17]:
# show first two rows of hte dataframe
df[0:2]

,survey_year,respondent_id,gender,age,age_group,ethnicity_estonian_nonestonian,marital_status,education,income_per_household_member,household_economic_comfort,...,walk_cycle_daily_amount_for work,walk_cycle_daily_amount_for_leisure_working_days,walk_cycle_daily_amount_non_working_days,exercising_frequency,work_physical_effort_level,physical_fitness_assessment,physically_active_daily_total,physically_active_daily_group,electronic_media_consumption_daily_amount_for_leisure_workdays,electronic_media_consumption_daily_amount_free_days
0,2020,1,1,19,1,1,2.0,4.0,3.0,2.0,...,3.0,4.0,4.0,3.0,1.0,3.0,4.0,3,2.0,3.0
1,2020,2,1,19,1,1,1.0,2.0,2.0,2.0,...,4.0,4.0,4.0,1.0,2.0,2.0,3.0,2,4.0,3.0

In [21]:
# show the values for each variable by a row index
df.iloc[1]

survey_year                                                       2020.0
respondent_id                                                        2.0
gender                                                               1.0
age                                                                 19.0
age_group                                                            1.0
ethnicity_estonian_nonestonian                                       1.0
marital_status                                                       1.0
education                                                            2.0
income_per_household_member                                          2.0
household_economic_comfort                                           2.0
employment_status                                                    1.0
occupation_revised                                                   9.0
health_assessment                                                    2.0
chronic_disease                                                      1.0
health_problem_limited_daily_activies                                1.0
health_problem_limited_mobility                                      1.0
overtiredness                                                        2.0
smoking_history                                                      1.0
smoking_three_groups                                                 1.0
smoking_two_groups                                                   1.0
alcohol_general_consumption_frequency                                4.0
alcohol_standard_units_consumption_frequency                         2.0
special_diet_for_weightloss                                          2.0
special_diet_for_sports                                              2.0
habit_change_diet_for_weightloss                                     3.0
habit_change_more_physically_active                                  1.0
bmi                                                                 23.4
bmi_four_groups                                                      2.0
bmi_three_groups                                                     1.0
bmi_two_groups_split25                                               1.0
bmi_two_groups_split30                                               1.0
walk_cycle_daily_amount_for work                                     4.0
walk_cycle_daily_amount_for_leisure_working_days                     4.0
walk_cycle_daily_amount_non_working_days                             4.0
exercising_frequency                                                 1.0
work_physical_effort_level                                           2.0
physical_fitness_assessment                                          2.0
physically_active_daily_total                                        3.0
physically_active_daily_group                                        2.0
electronic_media_consumption_daily_amount_for_leisure_workdays       4.0
electronic_media_consumption_daily_amount_free_days                  3.0
Name: 1, dtype: float64

In [23]:
# show the first two rows of the data by index range
df.iloc[0:2]

,survey_year,respondent_id,gender,age,age_group,ethnicity_estonian_nonestonian,marital_status,education,income_per_household_member,household_economic_comfort,...,walk_cycle_daily_amount_for work,walk_cycle_daily_amount_for_leisure_working_days,walk_cycle_daily_amount_non_working_days,exercising_frequency,work_physical_effort_level,physical_fitness_assessment,physically_active_daily_total,physically_active_daily_group,electronic_media_consumption_daily_amount_for_leisure_workdays,electronic_media_consumption_daily_amount_free_days
0,2020,1,1,19,1,1,2.0,4.0,3.0,2.0,...,3.0,4.0,4.0,3.0,1.0,3.0,4.0,3,2.0,3.0
1,2020,2,1,19,1,1,1.0,2.0,2.0,2.0,...,4.0,4.0,4.0,1.0,2.0,2.0,3.0,2,4.0,3.0

In [25]:
# show selected rows (indeces start from 0) and columns (numbers start from 1, the first being for the index)
# this show first two rows for columns 2 and 3
df.iloc[0:2,[2,3]]

   gender  age
0       1   19
1       1   19

In [26]:
# shows the dataframe (first 5 and last 5 rows) as True or False for missing values 
df.isna()

,survey_year,respondent_id,gender,age,age_group,ethnicity_estonian_nonestonian,marital_status,education,income_per_household_member,household_economic_comfort,...,walk_cycle_daily_amount_for work,walk_cycle_daily_amount_for_leisure_working_days,walk_cycle_daily_amount_non_working_days,exercising_frequency,work_physical_effort_level,physical_fitness_assessment,physically_active_daily_total,physically_active_daily_group,electronic_media_consumption_daily_amount_for_leisure_workdays,electronic_media_consumption_daily_amount_free_days
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2165,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2166,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2167,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
2168,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2169,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False